<h2>IMC&copy; analytics</h2>

<h3>Most requested routes:</h3>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>From</th>
            <th>To</th>
        </tr>
    </thead>
    <tr>
        <td>Gothenburg Port, Sweden</td>
        <td>Shanghai Port, China</td>
    </tr>

    <tr>
        <td>Hamburg, Germany</td>
        <td>New York, US</td>
    </tr>
</table>

<h3>
Most popular times of the day to book cargo (on average):
</h3>

<%= area_chart @booking_time, title: 'Average number of bookings in different times of the day'%>

<div class="row">
    <div class="col-6">
        <%= pie_chart @freight_value_data ,title: "Total shipments by freight service value (in Euro)", width: "800px", height: "500px"%>
    </div>
    <div class="col-6">
        <%= pie_chart @freight_capacity_data ,title: "Total shipments by freight capacity", width: "800px", height: "500px"%>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <%= pie_chart @ocean_value_data ,title: "Ocean freight service value (in Euro)", width: "800px", height: "500px"%>
    </div>
    <div class="col-6">
        <%= pie_chart @ocean_shipments_data ,title: "Ocean freight number of shipments", width: "800px", height: "500px"%>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <%= pie_chart @rail_value_data ,title: "Rail freight service value (in Euro)", width: "800px", height: "500px"%>
    </div>
    <div class="col-6">
        <%= pie_chart @rail_shipments_data ,title: "Rail freight number of shipments", width: "800px", height: "500px"%>
    </div>
</div>

<h3>Booking requests that didn’t turn into a sale</h3>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Shipper</th>
            <th>Company Name</th>
            <th>Mode of Transport</th>
            <th>Size of Container</th>
            <th>Route</th>
            <th>Freight rate</th>
        </tr>
    </thead>
    <tr>
        <td>John Smith</td>
        <td>Company Max Steel Inc.</td>
        <td>Rail freight</td>
        <td>20'</td>
        <td>Shanghai – Duisburg</td>
        <td>€1,580.43</td>
    </tr>

    <tr>
        <td>Alex Frederic</td>
        <td>FlyHere Inc.</td>
        <td>Air freight</td>
        <td>20', 40'</td>
        <td>Bejing – Hamburg</td>
        <td>€10,510.32</td>
    </tr>
</table>